/*                      FUNDAMENTAL STRUCTURE OF THE WEBSITE               */
* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    line-height: 1.5;
}

/*                    ******DESIGN THE HEADER******                    */
.menu-checkbox {
    color: white;
    font-size: 30px;
    float: right;
    display: none;
    cursor: pointer;
    padding: 3.5px 0;
    animation: pop-up 0.3s;
}

#menu {
    display: none;
}

.navbar {
    
    padding: 18px 5%;
    display: flex;
    justify-content: space-between;
    background-color: #003459;
    align-items: center;

}

.navbar__item--logo {
    display: flex;
    padding-top: 10px;
    text-align: center;
    line-height: 10px;
    text-transform: uppercase;
    color: white;
    text-decoration: none !important;
    font-size: 2em;
    font-weight: 600;
    letter-spacing: 2px;
    animation: pop-up 0.7s;
}

.logo-name {
    margin: auto 5px;
    text-align: center;
    line-height: 10px;
    text-transform: uppercase;
    color: white;
    text-decoration: none !important;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 2px;
}

.img {
    align-items: center;
    justify-content: center;
    max-width: 60px;
    max-height: auto;
}

.navbar__items {
    display: flex;
    animation: pop-up 0.7s;
}

.navbar__item {
    list-style: none;
    display: inline-block;
    padding: 0px 10px;
}

.navbar__item--child {
    text-decoration: none !important;
    color: white;
    font-weight: 500;
    letter-spacing: 1.5px;
    padding: 10px 15px;
    border-radius: 14px;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;

}

.navbar__item--child:hover {
    background-color: #fff;
    color: #0088a9;
}

@media screen and (max-width:850px) {
    .navbar #menu:checked {
        animation: sliding-left .5 s;
    }

    #menu:checked~.navbar__items {
        display: block;

    }

    .menu-checkbox {
        display: block;
    }

    .img {
        max-width: 40px;
    }

    .navbar__item--logo {
        width: fit-content;
        padding-bottom: 10px;
    }

    .logo-name {
        letter-spacing: 2px;

    }

    .navbar {
        display: block;
    }

    .navbar__items {
        display: none;
    }

    .navbar__item {
        border-top: 1px solid #0088a9;
        width: 100%;
        padding: 1.3em;
        text-transform: uppercase;
        text-align: center;


    }
}

/*                      ******DESIGN THE FOOTER******               */
.footer {
    background-color: #00171f;
    padding: 65px 0;
}

.footer__container {
    max-width: 1170px;

    margin: auto;
}

.footer__container--row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer__container--col {
    width: 25%;
    padding: 0 15px;
}

.footer__container--col__lists {
    list-style: none;
}

.footer__container--col--title {
    color: #ffffff;
    font-size: 30px;
    text-transform: capitalize;
    margin-bottom: 30px;

    position: relative;
}

.footer__container--col--title::before {
    content: '';
    position: absolute;
    background-color: #ffffff;
    bottom: -8px;
    height: 2px;
    box-sizing: border-box;
    width: 80px;
}

.footer__container--col--name:not(:last-child) {
    margin-bottom: 10px;
}

.footer__container--col--name--link {
    color: #ffffffcf;
    font-size: 20px;
    text-decoration: none;
    display: block;
    font-weight: 300;
    text-transform: capitalize;
    transition: all 0.3s ease 0s;
}

.footer__container--col--name--link:hover {
    color: #fff;
    padding-left: 10px;

}

.footer__container--col--social_link a {
    display: inline-block;
    height: 47px;
    width: 47px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    border-radius: 50%;
    color: white;
    text-align: center;
    line-height: 47px;
    transition: all 0.5s ease
}

.footer__container--col--social_link a:hover {
    color: #24262b;
    background-color: #ffffff;
}

@media screen and (max-width: 767px) {
    .footer__container--col {
        width: 50%;
        margin-bottom: 30px;
    }

}

@media screen and (max-width: 767px) {
    .footer__container--col {
        width: 50%;
        margin-bottom: 30px;
    }

}

@media screen and (max-width: 574px) {

    .footer__container--col {
        width: 100%;
        margin-bottom: 30px;
    }

}